<!DOCTYPE html>
<html>
<head>
  <title>Edit File</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Edit: <%= filename %></h1>

    <form method="POST" action="/update/<%= filename %>">
      <textarea name="content"><%= data %></textarea>
      <button class="save-btn">Save Changes</button>
    </form>
  </div>
</body>
</html>
