<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Directory</title>
</head>
<body>
   <% files.forEach(function(files) { %> 
    <h3><%= files %></h3>
    <a href="/edit/<%= files %>">Edit</a>
    <% }) %>

</body>
</html>