<!DOCTYPE html>
<html>
<head>
  <title>Credit Book App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>📁 Credit Book App</h1>
      <a href="/create" class="btn" onclick="return confirmCreate()">
  + Create File
</a>

    </div>

    <div class="file-list">
      <% files.forEach(file => { %>
        <div class="file-card">
          <div class="file-name"><%= file %></div>
          <div class="actions">
            <a class="edit" href="/edit/<%= file %>">Edit</a>
            <a 
  class="delete" 
  href="/delete/<%= file %>" 
  onclick="return confirmDelete('<%= file %>')">
  Delete
</a>

          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <script>
  function confirmCreate() {
    return confirm('Create a new file with today’s date?');
  }

  function confirmDelete(filename) {
    return confirm(`Are you sure you want to delete "${filename}"?`);
  }
</script>


</body>
</html>
